<FilesMatch "^\.">
    Require all denied
</FilesMatch>
<FilesMatch "^\.well-known$">
    Require all granted
</FilesMatch>
<Files Dockerfile>
    Require all denied
</Files>
<FilesMatch "^composer">
    Require all denied
</FilesMatch>
